.version.about /* version checker */
{
	color: #000005;
	background-color: #BF7F64;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 593.6500000000003px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 104px;
	width: 0.01px;/* should not cover content below */
}

#u95-3
{
	z-index: 3;
	min-height: 381px;
	position: fixed;
	top: 0px;
}

#u95-3-bw
{
	z-index: 3;
}

#pu154-5
{
	width: 0.01px;
	margin-left: -1px;
}

#u154-5
{
	z-index: 58;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u96
{
	z-index: 6;
	width: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 692px;
}

#menuu97
{
	z-index: 7;
	width: 370px;
	position: relative;
	margin-right: -10000px;
	left: -119px;
}

#u98
{
	width: 122px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
}

#u136
{
	width: 122px;
	padding-bottom: 8px;
	position: relative;
}

#u99
{
	width: 120px;
	top: 27px;
}

#u100
{
	width: 120px;
	position: relative;
}

#u416
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u416:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u420-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u416:hover #u420-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u448
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u416.MuseMenuActive,#u448:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u450-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u416.MuseMenuActive #u420-4,#u448:hover #u450-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u481
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u448.MuseMenuActive,#u481:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u483-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u448.MuseMenuActive #u450-4,#u481:hover #u483-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u516
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u481.MuseMenuActive,#u516:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u518-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u481.MuseMenuActive #u483-4,#u516:hover #u518-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u414,#u447,#u480,#u513,#u546
{
	width: 120px;
	padding-bottom: 1px;
	position: relative;
}

#u549
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u516.MuseMenuActive,#u549:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u549.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u550-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u516.MuseMenuActive #u518-4,#u549:hover #u550-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u549.MuseMenuActive #u550-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u348
{
	width: 122px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u349
{
	width: 122px;
	padding-bottom: 8px;
	position: relative;
}

#u381
{
	width: 122px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u382
{
	width: 122px;
	padding-bottom: 8px;
	position: relative;
}

#u136.MuseMenuActive,#u349.MuseMenuActive,#u382.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u137-4_clip,#u352-4_clip,#u383-4_clip
{
	width: 122px;
	height: 19px;
}

#u137-4,#u352-4,#u383-4
{
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u155
{
	z-index: 63;
	width: 4px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 823px;
}

#u1597
{
	z-index: 71;
	min-height: 675px;
	background-color: #FFFFFF;
}

#u1597_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 104px;
	padding-bottom: 106px;
}

#u1598
{
	z-index: 72;
	width: 300px;
	background-color: transparent;
	left: 430px;
	position: relative;
}

#u1600-4
{
	z-index: 74;
	width: 485px;
	min-height: 99px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	line-height: 21px;
	font-size: 15px;
	letter-spacing: 1px;
	left: 338px;
	margin-top: 60px;
	position: relative;
}

#u1600
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1597-bw
{
	z-index: 71;
	min-height: 675px;
	margin-top: 20px;
}

#pu94
{
	width: 0.01px;
	margin-left: -100px;
}

#u94,#u94-bw
{
	z-index: 2;
	height: 75px;
}

#u156
{
	z-index: 64;
	width: 117px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 897px;
}

#u159
{
	z-index: 65;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u161
{
	z-index: 67;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u157
{
	z-index: 69;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

