.version.mini_book /* version checker */
{
	color: #0000E6;
	background-color: #D2EB10;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 593.6499999999996px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 104px;
	width: 0.01px;/* should not cover content below */
}

#u95-3
{
	z-index: 3;
	min-height: 381px;
	position: fixed;
	top: 0px;
}

#u95-3-bw
{
	z-index: 3;
}

#pu154-5
{
	width: 0.01px;
	margin-left: -1px;
}

#u154-5
{
	z-index: 58;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u96
{
	z-index: 6;
	width: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 692px;
}

#menuu97
{
	z-index: 7;
	width: 370px;
	position: relative;
	margin-right: -10000px;
	left: -119px;
}

#u98
{
	width: 122px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
}

#u136
{
	width: 122px;
	padding-bottom: 8px;
	position: relative;
}

#u99
{
	width: 120px;
	top: 27px;
}

#u100
{
	width: 120px;
	position: relative;
}

#u416
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u416:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u420-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u416:hover #u420-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u448
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u416.MuseMenuActive,#u448:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u450-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u416.MuseMenuActive #u420-4,#u448:hover #u450-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u481
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u448.MuseMenuActive,#u481:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u483-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u448.MuseMenuActive #u450-4,#u481:hover #u483-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u516
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u481.MuseMenuActive,#u516:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u518-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u481.MuseMenuActive #u483-4,#u516:hover #u518-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u414,#u447,#u480,#u513,#u546
{
	width: 120px;
	padding-bottom: 1px;
	position: relative;
}

#u549
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u516.MuseMenuActive,#u549:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u549.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u550-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u516.MuseMenuActive #u518-4,#u549:hover #u550-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u549.MuseMenuActive #u550-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u348
{
	width: 122px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u349
{
	width: 122px;
	padding-bottom: 8px;
	position: relative;
}

#u381
{
	width: 122px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u382
{
	width: 122px;
	padding-bottom: 8px;
	position: relative;
}

#u136.MuseMenuActive,#u349.MuseMenuActive,#u382.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u137-4_clip,#u352-4_clip,#u383-4_clip
{
	width: 122px;
	height: 19px;
}

#u137-4,#u352-4,#u383-4
{
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u155
{
	z-index: 63;
	width: 4px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 823px;
}

#u1151
{
	z-index: 72;
	min-height: 458px;
	background-color: #FFFFFF;
	padding-bottom: 307px;
}

#u1164
{
	z-index: 95;
	width: 500px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 330px;
}

#u1167-4
{
	z-index: 96;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1165-4
{
	z-index: 100;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#u1166-4
{
	z-index: 104;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1151-bw
{
	z-index: 72;
	min-height: 458px;
	margin-top: 20px;
}

#u1150
{
	z-index: 71;
	height: 449px;
	background: #FFFFFF url("../images/aaiw_cover.jpg") no-repeat left center;
	background-size: cover;
}

#u1150-bw
{
	z-index: 71;
	height: 449px;
}

#u1152
{
	z-index: 73;
	min-height: 2782.8499999999995px;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#u1151_align_to_page,#u1152_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u1152_position_content
{
	padding-top: 312px;
	width: 100%;
}

#u1154
{
	z-index: 75;
	width: 600px;
	background-color: transparent;
	left: 278px;
	position: relative;
}

#u1169
{
	z-index: 112;
	width: 523px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 319px;
	margin-top: 958px;
	position: relative;
}

#u1170-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	position: relative;
}

#u1171-6
{
	z-index: 117;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#u1172
{
	z-index: 123;
	width: 600px;
	background-color: transparent;
	left: 279px;
	margin-top: 226px;
	position: relative;
}

#pu1160-4
{
	width: 0.01px;
	left: 100px;
	margin-top: 209px;
	position: relative;
}

#u1160-4
{
	z-index: 81;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1161
{
	z-index: 85;
	width: 232px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 707px;
}

#u1162-5
{
	z-index: 86;
	position: relative;
	width: 144px;
	margin-right: -10000px;
}

#u1163-4
{
	z-index: 91;
	position: relative;
	width: 59px;
	margin-right: -10000px;
	left: 173px;
}

#u1162-5_img,#u1163-4_img
{
	display: block;
	vertical-align: top;
}

#u1152-bw
{
	z-index: 73;
	min-height: 2782.8499999999995px;
}

#u1153
{
	z-index: 74;
	height: 712px;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	background: transparent url("../images/gradient.jpg") no-repeat left top;
	background-size: cover;
}

#u1153-bw
{
	z-index: 74;
	margin-top: 774px;
	height: 712px;
}

#u1156
{
	z-index: 77;
	width: 124px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 1126px;
	left: 622px;
}

#u1157
{
	z-index: 78;
	display: block;
}

#u1158
{
	z-index: 79;
	width: 124px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 1126px;
	left: 414px;
}

#u1159
{
	z-index: 80;
	display: block;
	margin-left: -1px;
}

#u1168-4
{
	z-index: 108;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1024px;
	left: 330px;
}

#pu1152,#pu94
{
	width: 0.01px;
	margin-left: -100px;
}

#u94,#u94-bw
{
	z-index: 2;
	height: 75px;
}

#u156
{
	z-index: 64;
	width: 117px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 897px;
}

#u159
{
	z-index: 65;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u161
{
	z-index: 67;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u157
{
	z-index: 69;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

