.version.mural /* version checker */
{
	color: #000003;
	background-color: #CD2F21;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 593.6499999999996px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 104px;
	width: 0.01px;/* should not cover content below */
}

#u95-3
{
	z-index: 3;
	min-height: 381px;
	position: fixed;
	top: 0px;
}

#u95-3-bw
{
	z-index: 3;
}

#pu154-5
{
	width: 0.01px;
	margin-left: -1px;
}

#u154-5
{
	z-index: 58;
	position: relative;
	width: 514px;
	margin-right: -10000px;
}

#u96
{
	z-index: 6;
	width: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 692px;
}

#menuu97
{
	z-index: 7;
	width: 370px;
	position: relative;
	margin-right: -10000px;
	left: -119px;
}

#u98
{
	width: 122px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
}

#u136
{
	width: 122px;
	padding-bottom: 8px;
	position: relative;
}

#u99
{
	width: 120px;
	top: 27px;
}

#u100
{
	width: 120px;
	position: relative;
}

#u416
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u416:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u448
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u416.MuseMenuActive,#u448:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u481
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u448.MuseMenuActive,#u481:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u516
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u481.MuseMenuActive,#u516:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u414,#u447,#u480,#u513,#u546
{
	width: 120px;
	padding-bottom: 1px;
	position: relative;
}

#u549
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u516.MuseMenuActive,#u549:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u549.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u420-4,#u450-4,#u483-4,#u518-4,#u550-4
{
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u348
{
	width: 122px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u349
{
	width: 122px;
	padding-bottom: 8px;
	position: relative;
}

#u381
{
	width: 122px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u382
{
	width: 122px;
	padding-bottom: 8px;
	position: relative;
}

#u136.MuseMenuActive,#u349.MuseMenuActive,#u382.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u137-4_clip,#u352-4_clip,#u383-4_clip
{
	width: 122px;
	height: 19px;
}

#u137-4,#u352-4,#u383-4
{
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u155
{
	z-index: 63;
	width: 4px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 823px;
}

#u1422
{
	z-index: 75;
	min-height: 458px;
	background-color: #FFFFFF;
	padding-bottom: 307px;
}

#u1429
{
	z-index: 81;
	width: 500px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 330px;
}

#u1431-4
{
	z-index: 82;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1432-4
{
	z-index: 86;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#u1430-4
{
	z-index: 90;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1422-bw
{
	z-index: 75;
	min-height: 458px;
	margin-top: 20px;
}

#u1421
{
	z-index: 74;
	height: 449px;
	background: #FFFFFF url("../images/7540e3493a51a314adac45d22ffeeb15.jpg") no-repeat left center;
	background-size: cover;
}

#u1421-bw
{
	z-index: 74;
	height: 449px;
}

#u1423
{
	z-index: 71;
	min-height: 2624px;
	background-color: #FFFFFF;
}

#u1422_align_to_page,#u1423_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u1423_position_content
{
	padding-top: 986px;
	width: 100%;
}

#u1437
{
	z-index: 108;
	width: 523px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 319px;
	position: relative;
}

#u1438-4
{
	z-index: 109;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	position: relative;
}

#u1439-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#u1620
{
	z-index: 72;
	width: 600px;
	background-color: transparent;
	left: 279px;
	margin-top: 126px;
	position: relative;
}

#u1620_img
{
	margin: -1px -23px -41px -33px;
}

#u1886-4
{
	z-index: 134;
	display: block;
	vertical-align: top;
	left: 279px;
	margin-top: 12px;
	position: relative;
}

#u1442
{
	z-index: 117;
	width: 609px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 275px;
	margin-top: 172px;
	position: relative;
}

#pu1443
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1443
{
	z-index: 122;
	width: 293px;
	background-color: transparent;
	position: relative;
}

#u1447
{
	z-index: 124;
	width: 293px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
}

#pu1449
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 316px;
}

#u1449
{
	z-index: 120;
	width: 292px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u1445
{
	z-index: 118;
	width: 293px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
}

#u1901-4
{
	z-index: 138;
	display: block;
	vertical-align: top;
	left: 275px;
	margin-top: 13px;
	position: relative;
}

#u1433
{
	z-index: 94;
	width: 946px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 100px;
	margin-top: 153px;
	position: relative;
}

#u1434-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u1435-5
{
	z-index: 99;
	position: relative;
	width: 115px;
	margin-right: -10000px;
	left: 831px;
}

#u1435-5_img
{
	display: block;
	vertical-align: top;
}

#u1423-bw
{
	z-index: 71;
	min-height: 2624px;
}

#u1424
{
	z-index: 76;
	height: 805px;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	background: transparent url("../images/gradient.jpg") no-repeat left top;
	background-size: cover;
}

#u1424-bw
{
	z-index: 76;
	height: 805px;
}

#u1425
{
	z-index: 77;
	width: 120px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 368px;
	left: 418px;
}

#u1426
{
	z-index: 78;
	display: block;
}

#u1427
{
	z-index: 79;
	width: 125px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 372px;
	left: 622px;
}

#u1428
{
	z-index: 80;
	display: block;
}

#u1436-4
{
	z-index: 104;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	left: 330px;
}

#u1877-4
{
	z-index: 126;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 501px;
	left: 414px;
}

#u1883-4
{
	z-index: 130;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 501px;
	left: 622px;
}

#pu1423,#pu94
{
	width: 0.01px;
	margin-left: -100px;
}

#u94,#u94-bw
{
	z-index: 2;
	height: 75px;
}

#u156
{
	z-index: 64;
	width: 117px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 897px;
}

#u159
{
	z-index: 65;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u161
{
	z-index: 67;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u157
{
	z-index: 69;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

