.version.resume /* version checker */
{
	color: #0000EB;
	background-color: #276139;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 593.6500000000003px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 104px;
	width: 0.01px;/* should not cover content below */
}

#u95-3
{
	z-index: 3;
	min-height: 381px;
	position: fixed;
	top: 0px;
}

#u95-3-bw
{
	z-index: 3;
}

#pu154-5
{
	width: 0.01px;
	margin-left: -1px;
}

#u154-5
{
	z-index: 58;
	position: relative;
	width: 514px;
	margin-right: -10000px;
}

#u96
{
	z-index: 6;
	width: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 692px;
}

#menuu97
{
	z-index: 7;
	width: 370px;
	position: relative;
	margin-right: -10000px;
	left: -119px;
}

#u98
{
	width: 122px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
}

#u136
{
	width: 122px;
	padding-bottom: 8px;
	position: relative;
}

#u99
{
	width: 120px;
	top: 27px;
}

#u100
{
	width: 120px;
	position: relative;
}

#u416
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u416:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u448
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u416.MuseMenuActive,#u448:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u481
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u448.MuseMenuActive,#u481:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u516
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u481.MuseMenuActive,#u516:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u414,#u447,#u480,#u513,#u546
{
	width: 120px;
	padding-bottom: 1px;
	position: relative;
}

#u549
{
	width: 119px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u516.MuseMenuActive,#u549:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u549.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u420-4,#u450-4,#u483-4,#u518-4,#u550-4
{
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u348
{
	width: 122px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u349
{
	width: 122px;
	padding-bottom: 8px;
	position: relative;
}

#u381
{
	width: 122px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u382
{
	width: 122px;
	padding-bottom: 8px;
	position: relative;
}

#u136.MuseMenuActive,#u349.MuseMenuActive,#u382.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u137-4_clip,#u352-4_clip,#u383-4_clip
{
	width: 122px;
	height: 19px;
}

#u137-4,#u352-4,#u383-4
{
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u155
{
	z-index: 63;
	width: 4px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 823px;
}

#u1579
{
	z-index: 71;
	min-height: 1733px;
	background-color: #FFFFFF;
	padding-bottom: 89px;
}

#u1579_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u1904
{
	z-index: 72;
	width: 708px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 233px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1579-bw
{
	z-index: 71;
	min-height: 1733px;
	margin-top: 20px;
}

#pu94
{
	width: 0.01px;
	margin-left: -100px;
}

#u94,#u94-bw
{
	z-index: 2;
	height: 75px;
}

#u156
{
	z-index: 64;
	width: 117px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 897px;
}

#u159
{
	z-index: 65;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u161
{
	z-index: 67;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u157
{
	z-index: 69;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

